@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    color: #fff;
    background-color: black;
    font-family: 'Outfit', sans-serif;
}
.background{
    height: 80vh;
    width: 90.7vw;
    margin: auto;
    margin-top: 7.1%;
    background-image: url(images/bg-img.png);
    background-size: cover;
    overflow: hidden;
}
.container{
display: flex;
align-items: center;
height: 100%;
}
/* ---------left side------------- */
.blockify-container{
    flex-basis: 33.8%;
    text-align: center;
}
.cube{   
width: 175px;
height: 176px;
margin-top: 83px;
padding: 98px 0px;
}
.blockify-container h1{
    font-size: 29px;
    font-weight: 700;
}
.blockify-container p{
    font-size: 13px;
    font-weight: lighter;
    padding-top: 8px;
    padding-bottom: 12px;
}
.dots{
    padding-top: 12px;
    width: 47px;
}
/* ---------right side------------ */
.login{
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    flex-basis: 70%;
    text-align: center;
    padding-top: 20%;
}
.welcome-container{
    width: 32.8vw;
    padding-left: 25px;
    margin: auto;
}
.svg svg{
padding: 20px;
}
.welcome-container h1{
    font-size: 28px;
}
.welcome-container p{
    padding: 10px;
    font-size: 13px;
    color: rgb(176, 175, 175);
}
button{
    width: 100%;
    height: 45px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid rgb(212, 212, 212);
    padding: 10px 0px;
    color: rgb(255, 255, 255);
    background-color: black;
    align-items: center;
    display: flex;
    font-size: 12px !important;
    justify-content: center;
}
button img{
    width: 23px;
}
button p{
    font-size: 12px !important;
    font-weight: 700 !important;
    color: #fff;
}
.connect-wallet{
    background-color: #fff;
    color: black;
    font-weight: 800;
    font-size: 12px;
    margin-top: 15px;
    height: 45px;
}
.division-line{
display: flex;
width: 100%;
margin: auto;
align-items: center;
font-size: 12px;
padding: 7px 0;
}
.division-line hr{
width: 100%;
height: 1px;
border: none;
background-color: rgb(21, 21, 21);
margin: auto;
}
.division-line span{
    padding: 0 15px;
}
#blue{
    font-size: 12.5px;
    padding: 5px;
}
#blue span{
    padding: 3px;
    color: rgb(19, 180, 255);
}